body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

.mono {
    font-family: 'JetBrains Mono', monospace;
}

#particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}


.nav-link.active {
    opacity: 1 !important;
    border-bottom: 2px solid white;
    text-decoration: none !important;
}


.nav-link {
    transition: opacity 0.3s ease;
}

.more-info-btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem 3rem;
    border-radius: 999px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.2, 1);
}

.more-info-btn:hover {
    background: white;
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}